is-scenario-player-info-panel {
	text-align: center;
}

is-scenario-player-info-panel .top {
	width: 100px;
	height: 15px;
	background-color: #596c84;
	margin: auto;
}

is-scenario-player-info-panel info-panel-title {
	display: block;
}

is-scenario-player-info-panel info-panel-icon {
	display: block;
}

is-scenario-player-info-panel info-panel-content {
	display: block;
}