<div class="top"></div>

<is-scenario-player-info-box>

	<info-box-icon ng-transclude="icon"></info-box-icon>

	<info-box-title ng-transclude="title"></info-box-title>

	<info-box-content ng-transclude="content"></info-box-content>


</is-scenario-player-info-box>