<div class="flex-fill-parent">

	<is-scenario-player-info-box class="center-flex-container-child">

		<info-box-title>

			<div class="flex-row-center-items-container">

				<div class="results-icon"></div>

				<div class="results-title">{{$ctrl.title}}</div>

			</div>

		</info-box-title>

		<info-box-content>

			<div ng-if="$ctrl.candidate.error">

				<div class="results-container">

					<div class="candidate-error">{{$ctrl.candidate.error}}</div>

				</div>

			</div>

			<div ng-if="!$ctrl.candidate.error">

				<!-- Best System Results -->
				<div class="results-container">

					<div class="results-container-inner flex-row-container">

						<div class="system-icon"></div>

						<div class="inline">

							<div class="result-title">{{$ctrl.candidate.bestTitle}}</div>

							<is-scenario-player-sentiment-analysis-result-summary-feedback ng-repeat="average in $ctrl.candidate.best"
																						   feature="average.feature"
																						   weight="average.result.weight"
																						   weight-from-ideal="average.result.weightFromIdeal">
							</is-scenario-player-sentiment-analysis-result-summary-feedback>

						</div>

					</div>

				</div>

				<!-- Worst System Results -->
				<div class="results-container">

					<div class="results-container-inner flex-row-container">

						<div class="system-icon"></div>

						<div class="inline">

							<div class="result-title">{{$ctrl.candidate.worstTitle}}</div>

							<is-scenario-player-sentiment-analysis-result-summary-feedback ng-repeat="average in $ctrl.candidate.worst"
																							feature="average.feature"
																							weight="average.result.weight"
																							weight-from-ideal="average.result.weightFromIdeal">
							</is-scenario-player-sentiment-analysis-result-summary-feedback>

						</div>

					</div>

				</div>

			</div>

			<!-- Interviewer Results -->
			<div class="results-container">

				<div class="results-container-inner flex-row-container">

					<div class="interviewer-icon"></div>

					<div class="inline">

						<div class="result-title">{{$ctrl.interviewer.ratingsTitle}}</div>

						<ul class="stars">

							<li ng-repeat="observationalFeedbackResult in $ctrl.interviewer.observationalFeedbacks">

								<span class="result-body">{{observationalFeedbackResult.feedback.feedback}}</span>

							</li>

						</ul>

						<div class="result-title">{{$ctrl.interviewer.messageTitle}}</div>

						<div class="result-body">{{$ctrl.interviewer.message}}</div>

					</div>

				</div>

			</div>

			<!--Buttons-->
			<div class="flex-row-even-spaced-container button-container">
				<is-scenario-player-icon-button ng-repeat="option in $ctrl.options"
												type="option"
												on-click="$ctrl.select(option)">
				</is-scenario-player-icon-button>
			</div>

		</info-box-content>

	</is-scenario-player-info-box>

</div>