is-scenario-player {
    font-family:  Arial, Helvetica, sans-serif;
}

.box-background {
    background-image: url("background.png");
}

.fill-background {
    background-color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}