is-scenario-player-other-left .blocker {
	background-color: gray;
	opacity: 0.5;
}

is-scenario-player-other-left is-scenario-player-info-panel {
	margin: auto;
}

is-scenario-player-other-left is-scenario-player-info-panel info-box-content {
	min-width: 400px;
	height: 300px;
}

is-scenario-player-other-left is-scenario-player-info-panel info-panel-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

is-scenario-player-other-left .body {
	white-space: pre-line;
	margin-top: 20px;
	flex-grow: 1;
}

is-scenario-player-other-left .button-container {
	margin: 10px auto 10px auto;
}

is-scenario-player-other-left .button-container .wiggle {
	animation: wiggle 1s step-end infinite;
	animation-delay: 5s;
	animation-timing-function: ease-in-out;
}
