<div class="fill-absolute">

	<div class="fill-absolute blocker"></div>
	
	<div class="flex-fill-parent">

		<is-scenario-player-info-panel>

			<info-panel-title>

				<h1>{{$ctrl.title}}</h1>

			</info-panel-title>

			<info-panel-content>

				<div class="body">{{$ctrl.body}}</div>

				<div class="button-container">
					
					<!--Buttons-->
					<div class="flex-row-even-spaced-container button-container">
						<is-scenario-player-icon-button ng-repeat="option in $ctrl.options"
														type="option"
														on-click="$ctrl.onSelect({option: option})">
						</is-scenario-player-icon-button>
					</div>
					
				</div>

			</info-panel-content>

		</is-scenario-player-info-panel>

	</div>

</div>