<div class="flex-fill-parent">

	<is-scenario-player-info-panel class="center-flex-container-child">

		<info-panel-content>
			
			<div class="center-flex-container-child">
				
				<p class="horizontal-center-content">{{$ctrl.body}}</p>
				
				<br/>

				<md-progress-circular md-diameter="50"></md-progress-circular>

			</div>

		</info-panel-content>

	</is-scenario-player-info-panel>

</div>