﻿is-scenario-player-candidate-interview-summary {
	width: 850px;
	display: block;
	margin: auto;
}

is-scenario-player-candidate-interview-summary .results-title {
	width: 400px;
	font-size: 1.4em;
	font-weight: bold;
}

is-scenario-player-candidate-interview-summary .results-icon {
	background-image: url("../../../styles/results_icon.png");
	width: 75px;
	height: 67px;
}

is-scenario-player-candidate-interview-summary .results-container {
	background-color: white;
	margin: 5px 15px 5px 15px;
	display: flex; 
}

is-scenario-player-candidate-interview-summary .results-container-inner {
	margin: 20px 20px 20px 0;
}

is-scenario-player-candidate-interview-summary .candidate-error {
	font-size: 1.5em;
	color: red;
	font-weight: bold;
	margin: 20px auto 20px auto;
	white-space: pre-line;
	text-align: center;
}

is-scenario-player-candidate-interview-summary .interviewer-icon {
	background-image: url("../../../styles/man_observe_icon.png");
	width: 75px;
	height: 67px;
	vertical-align: top;
}

is-scenario-player-candidate-interview-summary .system-icon {
	background-image: url("../../../styles/robot_observe_icon.png");
	width: 75px;
	height: 67px;
	vertical-align: top;
}

is-scenario-player-candidate-interview-summary .result-title {
	font-size: 1em;
	font-weight: bold;
}

is-scenario-player-candidate-interview-summary .result-body {
	font-size: 1em;
}

is-scenario-player-candidate-interview-summary .button-container {
	margin: 20px 0 20px 0;
}

is-scenario-player-candidate-interview-summary is-scenario-player-sentiment-analysis-result-summary-feedback .feedback {
	max-width: 500px;
}