<is-scenario-player-post-interview-waiting interview-round="$ctrl.halfTime"
										   user-session-id="$ctrl.userSessionId"
										   match-session-id="$ctrl.matchSessionId"
										   candidate-start="$ctrl.candidateStart"
										   candidate-end="$ctrl.candidateEnd">
</is-scenario-player-post-interview-waiting>

<is-scenario-player-post-interview-waiting interview-round="$ctrl.fullTime"
										   user-session-id="$ctrl.userSessionId"
										   match-session-id="$ctrl.matchSessionId"
										   candidate-start="$ctrl.candidateStart"
										   candidate-end="$ctrl.candidateEnd">
</is-scenario-player-post-interview-waiting>

<is-scenario-player-post-interview-waiting interview-round="$ctrl.halfTime"
											user-session-id="$ctrl.userSessionId"
											match-session-id="$ctrl.matchSessionId"
										   candidate-start="$ctrl.noResultStart"
												candidate-end="$ctrl.noResultEnd">
</is-scenario-player-post-interview-waiting>