is-scenario-player-submit-icon-box {
    text-align: center;
}

is-scenario-player-submit-icon-box submit-icon-box-title {
    flex-grow: 1;
    font-size: 1.2em;
}

is-scenario-player-submit-icon-box submit-icon-box-icon {
    flex-grow: 1;
}

is-scenario-player-submit-icon-box submit-icon-box-content {
    flex-grow: 1;
    font-size: 1.5em;
}

is-scenario-player-submit-icon-box .left-content{
	left: 0;
	margin-left: 50px;
	width: 100px;
	height: 100%;
}

is-scenario-player-submit-icon-box .right-content{
	right: 0;
	margin-right: 50px;
	width: 100px;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

is-scenario-player-submit-icon-box .icon-container {
	display: flex;
	width: 75px;
	height: 67px;
}

is-scenario-player-submit-icon-box .title-container {
	display: flex;
	width: 75px;
}

is-scenario-player-submit-icon-box .content-container {
	display: flex;
}

is-scenario-player-submit-icon-box button.submit {
	background-image: url("../../../styles/tick_icon.png");
	width: 46px;
	height: 46px;
	min-width: 0;
	min-height: 0;
}