is-scenario-player-sentiment-analysis-results is-scenario-player-sentiment-analysis-result .value-box {
	height: 25px;
}

is-scenario-player-sentiment-analysis-results is-scenario-player-sentiment-analysis-result .label-text {	
	font-size: 1.1em;
}

is-scenario-player-sentiment-analysis-results .icon {
	background-image: url("../../../styles/robot_observe_icon.png");
	width: 75px;
	height: 67px;
    margin-top: 20px;
}

is-scenario-player-sentiment-analysis-results .title {
    font-size: 1.2em;
	margin: 10px 20px 0 20px;
}

is-scenario-player-sentiment-analysis-results .instruction {
    font-size: 0.8em;
    margin-bottom: 10px;
}

is-scenario-player-sentiment-analysis-results .inactive-results {
    opacity: 0.4;
    transition: opacity 0.5s ease-in-out;
}

is-scenario-player-sentiment-analysis-results #error {
    max-width: 150px;
    white-space: pre-line;
}