<is-scenario-player-info-panel>

    <info-panel-icon></info-panel-icon>
	
	<info-panel-title>{{$ctrl.title}}</info-panel-title>

	<info-panel-content>{{$ctrl.body}}</info-panel-content>

</is-scenario-player-info-panel>