﻿<div class="flex-fill-parent">

	<is-scenario-player-post-interview-box class="center-flex-container-child"
										   interview-round="$ctrl.interviewRound"
										   options="$ctrl.options"
										   on-select="$ctrl.submit(option)"
										   get-enabled="$ctrl.isValid">

		<post-interview-box-icon class="icon"></post-interview-box-icon>

		<post-interview-box-title class="title">{{$ctrl.instruction}}</post-interview-box-title>

		<post-interview-box-content>

			<table class="question-container">

				<tr ng-repeat="question in $ctrl.questions">

					<td>

						<div class="vertical-center-flex-container">

							<div class="center-flex-container-child question-text">
								{{question.question}}
							</div>

						</div>

					</td>

					<td>

						<is-scenario-player-rating-select ratings="$ctrl.ratingValues"
														  reverse="question.isInverse"
														  on-select="$ctrl.ratingSelect(question, rating)">
						</is-scenario-player-rating-select>

					</td>

				</tr>

			</table>

			<textarea type="textarea"
					  maxlength="500"
					  ng-model="$ctrl.message"
					  placeholder="{{$ctrl.messagePlaceholder}}">
		</textarea>

		</post-interview-box-content>

	</is-scenario-player-post-interview-box>

</div>