login-page is-scenario-player-title-box {
	margin: 20px auto 0 auto;
}

login-page .login-page-container {
	position: relative;	
	display: block;
	max-width: 700px;	
	min-width: 350px;	
	width: 80%;
}

login-page is-scenario-player-info-box info-box-content {
	margin: 25px;
	text-align: left;
}

login-page .button-spacer {
	height: 10px;
}

login-page .error {
	font-size: 2em;
	color: red;
}

is-scenario-player-info-box { 
	margin: 0 auto 0 auto;
}

login-page is-scenario-player-message-box {
	margin: 0 auto 0 auto;
	display: block;
	font-size: 1.5em;
	text-align: center;
}

login-page .play-flow {
	background-image: url("how2play.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 75px;
}


login-page footer {
	text-align: center;
}
