is-scenario-player-briefing-box info-panel-icon {
    background-image: url("interview.png");
    width: 87px;
    height: 70px;
}

is-scenario-player-briefing-box info-panel-title {
    margin: 10px;
	width: 160px;
}

is-scenario-player-briefing-box info-panel-content {
	font-size: 1.3em;
	margin: 10px;
	min-height: 60px;
	width: 160px;
}