is-scenario-player-feature-actionable-feedback {
    position: relative;
    width: 736px;
    height: 167px;
    display: block;
}

is-scenario-player-feature-actionable-feedback submit-icon-box-icon {
	background-image: url("../../../styles/robot_observe_icon.png");
	width: 75px;
	height: 67px;
}