<div class="flex-column-container inner">
	
	<div class="center">
		
		<div
			class="flex-container"
			ng-transclude="icon">
		</div>
		
	</div>

	<div class="center">
		
		<div ng-transclude="title"
			 class="flex-container">
		</div>
		
	</div>

	<div
		class="flex-container"
		ng-transclude="content">
	</div>

</div>