loggedin-play-multi-scenario-page {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-grow: 1;
}

loggedin-play-multi-scenario-page sentiment-analysis-poll {
    margin-right: 20px;
}