<is-scenario-player-post-interview-swap-prompt options="$ctrl.options"
											   interview-round="$ctrl.halfTime"
											   on-select="$ctrl.onSelect(option)"
											   user-session-id="$ctrl.userSessionId"
											   match-session-id="$ctrl.matchSessionId"
											   candidate-start="$ctrl.candidateStart"
											   candidate-end="$ctrl.candidateEnd">
</is-scenario-player-post-interview-swap-prompt>

<is-scenario-player-post-interview-swap-prompt options="$ctrl.options"
											   interview-round="$ctrl.halfTime"
											   on-select="$ctrl.onSelect(option)"
											   user-session-id="$ctrl.userSessionId"
											   match-session-id="$ctrl.matchSessionId"
											   candidate-start="$ctrl.noResultStart"
												candidate-end="$ctrl.noResultEnd">
</is-scenario-player-post-interview-swap-prompt>