﻿<div class="flex-fill-parent">

	<is-scenario-player-post-interview-box class="center-flex-container-child"
										   interview-round="$ctrl.interviewRound"
										   options="$ctrl.options"
										   on-select="$ctrl.select(option)">

		<post-interview-box-icon class="icon"></post-interview-box-icon>

		<post-interview-box-title class="title">{{$ctrl.title}}</post-interview-box-title>

		<post-interview-box-content>

			<div ng-if="$ctrl.error"
				 class="error">{{$ctrl.error}}</div>

			<div ng-if="!$ctrl.error"
				 class="flex-row-even-spaced-container">

				<is-scenario-player-sentiment-analysis-result ng-repeat="average in $ctrl.averages"
															  feature="average.feature"
															  weight="average.result.weight"
															  weight-from-ideal="average.result.weightFromIdeal">
				</is-scenario-player-sentiment-analysis-result>

			</div>

		</post-interview-box-content>

	</is-scenario-player-post-interview-box>

</div>