<is-scenario-player-candidate-interview-summary ng-if="$ctrl.interviewerObservationalRatingsList[0]"
												options="$ctrl.options"
												job="$ctrl.job"
												interviewer-observational-ratings="$ctrl.interviewerObservationalRatingsList[0]"
												interviewer-message="$ctrl.interviewerMessage"
												on-select="$ctrl.onSelect(option)"
												user-session-id="$ctrl.userSessionId"
												match-session-id="$ctrl.matchSessionId"
												candidate-start="$ctrl.candidateStart"
												candidate-end="$ctrl.candidateEnd">
</is-scenario-player-candidate-interview-summary>

<is-scenario-player-candidate-interview-summary ng-if="$ctrl.interviewerObservationalRatingsList[1]"
												options="$ctrl.options"
												job="$ctrl.job"
												interviewer-observational-ratings="$ctrl.interviewerObservationalRatingsList[1]"
												interviewer-message="$ctrl.interviewerMessage"
												on-select="$ctrl.onSelect(option)"
												user-session-id="$ctrl.userSessionId"
												match-session-id="$ctrl.matchSessionId"
												candidate-start="$ctrl.noResultStart"
												candidate-end="$ctrl.noResultEnd">
</is-scenario-player-candidate-interview-summary>