is-scenario-player-observational-question-evaluation .button-text {
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	min-width: 100px;
	color: white;
	margin: 10px;
}

is-scenario-player-observational-question-evaluation {
    position: relative;
    width: 736px;
    height: 167px;
    display: block;
}

is-scenario-player-observational-question-evaluation icon-box-icon {
    flex-grow: 1;
    background-image: url("../../../styles/man_observe_icon.png");
    background-size: 100%;
}

is-scenario-player-observational-question-evaluation icon-box-content {
    flex-grow: 1;
    font-size: 1.4em;
}

is-scenario-player-observational-question-evaluation .button-container {
	margin-top: 10px;
}