﻿is-scenario-player-post-interview-box {
	display: block;
	position: relative;
	width: 786px;
}

is-scenario-player-post-interview-box post-interview-box-content {
	flex-grow: 1;
}

is-scenario-player-post-interview-box info-box-icon {
	margin: 10px 0 10px 0;
}

is-scenario-player-post-interview-box .post-interview-icon {
	position: absolute;
	margin-left: 60px;
	margin-top: 80px;
	display: flex;
	z-index: 1;
}

is-scenario-player-post-interview-box .title-text {
	font-size: 1.5em;
}

is-scenario-player-post-interview-box .title-icon.fulltime {
	background-image: url("timer_full_icon.png");
	width: 75px;
	height: 67px;
	margin-right: 10px;
}

is-scenario-player-post-interview-box .title-icon.halftime {
	background-image: url("halftime_icon.png");
	width: 75px;
	height: 67px;
	margin-right: 10px;
}

is-scenario-player-post-interview-box .button-container {
	margin: 20px 0 20px 0;
}

is-scenario-player-post-interview-box .button-info {
	font-size: 0.8em;
	width: 150px;
	margin: 5px auto auto auto;
	text-align: center;
}