<div id="is-scenario-player-title-box-content">
	<is-scenario-player-message-box>
			<message-box-content>
				<div id="is-scenario-player-title-box-icon"></div>
			</message-box-content>
	</is-scenario-player-message-box>
</div>