is-scenario-player-solo-container video-calling .subscriber-placeholder {
	background-image: url("solo-robot-placeholder.png");
	background-color: #393939;
	background-position: center bottom;
	background-size: contain;
	background-repeat: no-repeat;
	transition: opacity 5s ease-out;
}

is-scenario-player-solo-container .loading-game {
	font-size: 2em;
	text-align: center;
	white-space: pre-line;
}

is-scenario-player-solo-container .progress-spinner {
	margin: 20px auto auto auto;
}