﻿is-scenario-player-interviewer-candidate-appraisal .title {
	font-size: 1.5em;
}

is-scenario-player-interviewer-candidate-appraisal .icon {
	background-image: url("../../../styles/man_observe_icon.png");
	width: 75px;
	height: 67px;
}

is-scenario-player-interviewer-candidate-appraisal .question-container {
	margin: auto;
}

is-scenario-player-interviewer-candidate-appraisal .question-text {
	font-size: 1.5em;
	margin-right: 0;
}

is-scenario-player-interviewer-candidate-appraisal textarea {
	width: 70%;
	font-size: 1em;
	padding: 10px;
	height: 80px;
	display: flex;
	margin: auto;
	margin-top: 25px;
}