is-scenario-player-icon-box {
    text-align: center;
}

is-scenario-player-icon-box icon-box-title {
    flex-grow: 1;
    font-size: 1.2em;
}

is-scenario-player-icon-box icon-box-icon {
    flex-grow: 1;
}

is-scenario-player-icon-box icon-box-content {
    flex-grow: 1;
    font-size: 1.5em;
}

is-scenario-player-icon-box .left-content{
	left: 0;
	margin-left: 50px;
	width: 100px;
	height: 100%;
}

is-scenario-player-icon-box .icon-container {
	display: flex;
	width: 75px;
	height: 67px;
}

is-scenario-player-icon-box .title-container {
	display: flex;
	width: 75px;
}

is-scenario-player-icon-box .content-container {
	display: flex;
	margin-right: 117px;
}