﻿is-scenario-player-post-interview-waiting .info {
	font-size: 1.5em;
	white-space: pre-line;
	text-align: center;
	margin-top: 20px;
}

is-scenario-player-post-interview-waiting .loading {
	font-size: 1.5em;
	font-weight: bold;
	white-space: pre-line;
	text-align: center;
	margin: auto;
}

is-scenario-player-post-interview-waiting .icon {
	background-image: url("../../../styles/robot_observe_icon.png");
	width: 75px;
	height: 67px;
}

is-scenario-player-post-interview-waiting .error {
	font-size: 1.5em;
	color: red;
	font-weight: bold;
	margin: 20px auto 20px auto;
	white-space: pre-line;
	text-align: center;
}

is-scenario-player-post-interview-waiting .select-container {
	display: inline-block;
	margin: auto;
} 

is-scenario-player-post-interview-waiting .result-container {
	background-color: unset;
	width: 500px;
	height: 100px;
	display: flex;
	align-items: center;
	margin: auto;
}

is-scenario-player-post-interview-waiting .next {
	background-image: url("right_icon.png");
	width: 48px;
	height: 48px;
	margin: 20px;
	min-width: 0;
	min-height: 0;
}

is-scenario-player-post-interview-waiting .previous {
	background-image: url("left_icon.png");
	width: 48px;
	height: 48px;
	margin: 20px;
	min-width: 0;
	min-height: 0;
}