﻿<button class="raised"
		ng-class="$ctrl.buttonClass"
		ng-click="$ctrl.onClick()"
		ng-disabled="$ctrl.isDisabled">

	<div class="flex-item flex-row-container center">

		<div class="vertical-center-flex-container">

			<div class="button-text">
				{{$ctrl.label}}
			</div>

		</div>

		<div class="vertical-center-flex-container">
			<div class="button-icon"
				 ng-class="$ctrl.iconClass"></div>
		</div>

	</div>

</button>