<is-scenario-player-icon-box>

	<icon-box-icon></icon-box-icon>

	<icon-box-content>

		<div class="flex-column-container">

			<div class="flex-item"></div>

			<div class="flex-column-container">

				<div>{{$ctrl.question}}</div>

				<div class="flex-row-container">

					<div class="flex-item"></div>

					<div ng-if="$ctrl.isBinary"
						 class="button-container">

						<button class="primary raised"
								ng-click="$ctrl.select($ctrl.ratings[0])">

							<div class="button-text">{{$ctrl.startLabel.toUpperCase()}}</div>

						</button>

						<button class="primary raised"
								ng-click="$ctrl.select($ctrl.ratings[$ctrl.ratings.length - 1])">

							<div class="button-text">{{$ctrl.endLabel.toUpperCase()}}</div>

						</button>

					</div>

					<is-scenario-player-rating-select ng-if="!$ctrl.isBinary"
													  rating="$ctrl.rating"
													  ratings="$ctrl.ratings"
													  reverse="$ctrl.isInverse"
													  on-select="$ctrl.select(rating)">
					</is-scenario-player-rating-select>

					<div class="flex-item"></div>

				</div>

			</div>

			<div class="flex-item"></div>

		</div>

	</icon-box-content>

</is-scenario-player-icon-box>