@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

is-scenario-player-rating-select button {
    border: none;
    background-color: transparent;
}

is-scenario-player-rating-select button:before {
    font-size: 40pt;
    font-family: IconFont;
    display: inline-block;
    content: "\f005";
    margin: 8px;
}

is-scenario-player-rating-select button.unselected {
    color: lightgray;
}

is-scenario-player-rating-select button.selected {
    color: gold;
}

