<div class="center-flex-container-child">

	<is-scenario-player-info-panel>

		<info-panel-icon class="icon"></info-panel-icon>

		<info-panel-title class="title">

			<div class="instruction">Pick job to interview for
				(other player is waiting)
			</div>

			<label ng-repeat="(tag, state) in $ctrl.tagStates">
				<input type="checkbox"
					   ng-model="$ctrl.tagStates[tag]"
					   ng-change="$ctrl.onTagStateChange(tag, $ctrl.tagStates[tag])" />

				{{tag}}

			</label>

		</info-panel-title>

		<info-panel-content>

			<job-select tags="$ctrl.activeTags"
						on-select="$ctrl.selected = selected">
			</job-select>

			<div class="center-text">

				<button class="raised primary submit"
						ng-disabled="$ctrl.selected === null"
						ng-click="$ctrl.onSubmit({job: $ctrl.selected})"></button>

			</div>

		</info-panel-content>

	</is-scenario-player-info-panel>

</div>