is-scenario-player {
    height: 100%;
    width: 100%;
}

is-scenario-player is-scenario-player-title-box {
	margin-top: 20px;
}

is-scenario-player .inset {
    margin: 20px;
    flex-grow: 1;
    position: relative;
}

is-scenario-player .vertical-message-box {
	width: 300px;
	height: 300px;	
	text-align: center;
}

is-scenario-player .horizontal-message-box {
	width: 700px;
	height: 100px;		
	text-align: center;
}

is-scenario-player .horizontal-selection-box {
	width: 700px;
	height: 150px;		
	text-align: center;
}

is-scenario-player .horizontal-video-publisher-offset {
    min-width: 64px;
}

is-scenario-player .vertical-video-publisher-offset {
    min-height: 150px;
}

is-scenario-player .question-spacer {
	height: 20px;
}