<div ng-if="$ctrl.model.title.isShown"
	 class="flex-row-container top-fill-absolute">

	<div class="flex-item"></div>

	<is-scenario-player-title-box>
	</is-scenario-player-title-box>

	<div class="flex-item"></div>

</div>

<is-scenario-player-job-select ng-if="$ctrl.model.job.isShown"
							   instruction="$ctrl.model.job.instruction"
							   on-submit="$ctrl.job.onSubmit(job)">
</is-scenario-player-job-select>

<is-scenario-player-waiting ng-if="$ctrl.waiting.isVisible"
							body="$ctrl.waiting.body">
</is-scenario-player-waiting>

<is-scenario-player-interviewer-candidate-appraisal ng-if="$ctrl.interviewerCandidateAppraisal.isVisible"
													interview-round="$ctrl.interviewerCandidateAppraisal.interviewRound"
													options="$ctrl.interviewerCandidateAppraisal.options"
													on-submit="$ctrl.interviewerCandidateAppraisal.onSubmit(option, appraisalResult)">
</is-scenario-player-interviewer-candidate-appraisal>

<is-scenario-player-post-interview-swap-prompt ng-if="$ctrl.postInterviewSwapPrompt.isVisible"
											   options="$ctrl.postInterviewSwapPrompt.options"
											   on-select="$ctrl.postInterviewSwapPrompt.onSelect(option)"
											   interview-round="$ctrl.postInterviewSwapPrompt.interviewRound"
											   user-session-id="$ctrl.postInterviewSwapPrompt.userSessionId"
											   match-session-id="$ctrl.postInterviewSwapPrompt.matchSessionId"
											   candidate-start="$ctrl.postInterviewSwapPrompt.candidateStart"
											   candidate-end="$ctrl.postInterviewSwapPrompt.candidateEnd">
</is-scenario-player-post-interview-swap-prompt>

<is-scenario-player-post-interview-waiting ng-if="$ctrl.postInterviewWaiting.isVisible"
										   interview-round="$ctrl.postInterviewWaiting.interviewRound"
										   user-session-id="$ctrl.postInterviewWaiting.userSessionId"
										   match-session-id="$ctrl.postInterviewWaiting.matchSessionId"
										   candidate-start="$ctrl.postInterviewWaiting.candidateStart"
										   candidate-end="$ctrl.postInterviewWaiting.candidateEnd">
</is-scenario-player-post-interview-waiting>

<is-scenario-player-candidate-interview-summary ng-if="$ctrl.candidateInterviewSummary.isVisible"
												options="$ctrl.candidateInterviewSummary.options"
												on-select="$ctrl.candidateInterviewSummary.onSelect(option)"
												job="$ctrl.candidateInterviewSummary.job"
												interviewer-observational-ratings="$ctrl.candidateInterviewSummary.interviewerObservationalRatings"
												interviewer-message="$ctrl.candidateInterviewSummary.interviewerMessage"
												user-session-id="$ctrl.candidateInterviewSummary.userSessionId"
												match-session-id="$ctrl.candidateInterviewSummary.matchSessionId"
												candidate-start="$ctrl.candidateInterviewSummary.candidateStart"
												candidate-end="$ctrl.candidateInterviewSummary.candidateEnd">
</is-scenario-player-candidate-interview-summary>

<div class="flex-container fill-parent">

	<div class="inset">

		<div ng-if="$ctrl.model.sentimentAnalysis.isShown"
			 class="flex-column-container right-fill-absolute">

			<div class="flex-item"></div>

			<is-scenario-player-sentiment-analysis-updates class="center-flex-container-child">
			</is-scenario-player-sentiment-analysis-updates>

			<div class="flex-item vertical-video-publisher-offset"></div>
		</div>

		<div ng-if="$ctrl.model.briefing.isShown"
			 class="flex-column-container left-fill-absolute">

			<is-scenario-player-briefing-box class="center-flex-container-child"
											 title="$ctrl.model.briefing.title"
											 body="$ctrl.model.briefing.body">
			</is-scenario-player-briefing-box>

		</div>

		<div class="flex-row-container bottom-fill-absolute"
			 ng-show="$ctrl.promptQueue.isVisible || $ctrl.model.interviewQuestion.isShown || $ctrl.interviewQuestionRespond.isVisible">

			<div class="flex-item"></div>

			<div>

				<is-scenario-player-prompt-queue ng-show="$ctrl.promptQueue.isVisible"
												 enqueue="$ctrl.promptQueue._enqueue"
												 dequeue="$ctrl.promptQueue.dequeue"
												 empty="$ctrl.promptQueue.empty"
												 on-emptied-queue="$ctrl.promptQueue.onEmptiedQueue()">
				</is-scenario-player-prompt-queue>

				<div ng-show="$ctrl.promptQueue.isVisible && ($ctrl.model.interviewQuestion.isShown || $ctrl.interviewQuestionRespond.isVisible)"
					 class="question-spacer"></div>

				<is-scenario-player-interview-question ng-if="$ctrl.model.interviewQuestion.isShown"
													   is-synchronised="$ctrl.isSynchronised"
													   state="$ctrl.model.interviewQuestion.state"
													   question="$ctrl.model.interviewQuestion.question.question"
													   total="$ctrl.model.interviewQuestion.total"
													   length="$ctrl.model.interviewQuestion.length"
													   options="$ctrl.model.interviewQuestion.options"
													   on-select="$ctrl.interviewQuestion.onSelect(option)">
				</is-scenario-player-interview-question>

				<is-scenario-player-interview-question-respond ng-if="$ctrl.interviewQuestionRespond.isVisible"
															   state="$ctrl.interviewQuestionRespond.state"
															   question="$ctrl.interviewQuestionRespond.question.question"
															   current="$ctrl.interviewQuestionRespond.current"
															   total="$ctrl.interviewQuestionRespond.total"
															   length="$ctrl.interviewQuestionRespond.length">
				</is-scenario-player-interview-question-respond>

			</div>

			<div class="flex-item horizontal-video-publisher-offset"></div>

		</div>

		<selection-box ng-if="$ctrl.observationalQuestion.isVisible"
					   instruction="$ctrl.observationalQuestion.question"
					   options="$ctrl.observationalQuestion.options"
					   min="1"
					   max="1"
					   on-submit="$ctrl.selectAppraisalEvaluationOption(selection)"
					   submit-button="'OK'"
					   class="horizontal-selection-box center-bottom">
		</selection-box>

	</div>

</div>

<is-scenario-player-other-left ng-if="$ctrl.otherLeft.isVisible"
							   title="$ctrl.otherLeft.title"
							   body="$ctrl.otherLeft.body"
							   options="$ctrl.otherLeft.options"
							   on-select="$ctrl.otherLeft.onSelect(option)">
</is-scenario-player-other-left>