is-scenario-player-job-select {
    display: flex;
    flex-direction: column;
    height: 100%;
}

is-scenario-player-job-select .icon {
	background-image: url("search_job_icon.png");
	width: 75px;
	height: 67px;
	margin-top: 10px;
}

is-scenario-player-job-select md-list {
    font-size: 1em;
}

is-scenario-player-job-select .instruction {
	white-space: pre-line;
	margin-bottom: 10px;
}

is-scenario-player-job-select job-select {
    width: 300px;
    display: block;
}

is-scenario-player-job-select md-content {
	background-color: white;
    height: 350px;
}

is-scenario-player-job-select button.submit {
	background-image: url("../../../styles/tick_icon.png");
	width: 46px;
	height: 46px;
	min-width: 0;
	min-height: 0;
}