<div ng-form name="$ctrl.form">

	<label for="emailAddress">Email:</label>

	<input id="emailAddress"
		   type="email"
		   ng-model="$ctrl.emailAddress"
		   required />

	<button class="raised"
			ng-disabled="$ctrl.form.$invalid"
			ng-click="$ctrl.login()">
		Login
	</button>

</div>