<is-scenario-player-solo-container ng-if="$ctrl.playSolo"
								   on-scenario-player-stopped="$ctrl.onSoloScenarioPlayerStopped"
								   new-game="$ctrl.soloNewGame"></is-scenario-player-solo-container>

<match-new participant-id="$ctrl.participantId"
		   cant-match-previous="$ctrl.cantMatchPrevious"
		   on-found-match="$ctrl.onFoundMatch">
</match-new>

<div ng-hide="$ctrl.playSolo"
	 class="play-solo-timeout-info">Please Note: If you don't match in over a minute, we will put you in a Solo game so you can play while you wait for a match.</div>