loggedin-play-multi-find-match-page {
	width: 100%;
	height: 100%;
	display: block;
}

	loggedin-play-multi-find-match-page match-new {
		display: block;
		margin: auto;
	}

	loggedin-play-multi-find-match-page .play-solo-timeout-info {
		margin: 50px auto 0 auto;
		text-align: center;
		width: 500px;
	}