﻿is-scenario-player-timer {
	display: block;
	position: relative;
}

is-scenario-player-timer .background {
	background-image: url("timer_empty_icon.png");
	background-size: cover;
}

is-scenario-player-timer #loader {
	fill: #596c84;
}