is-scenario-player-sentiment-analysis-result .value-box {
	position: relative;
	width: 185px;
	height: 45px;
	margin: 0 10px 10px 10px;
	display: flex;
	font-size: 1.4em;
	background-color: white;
	border: 5px;
	border-style: solid;
	border-radius: 6px;
}

is-scenario-player-sentiment-analysis-result #label-container {
	text-align: center;
}

is-scenario-player-sentiment-analysis-result .label-text {
	margin: auto;
	display: inline-block;
	font-size: 1.4em;
	font-weight: bold;
	color: #f1f1f1;
}

is-scenario-player-sentiment-analysis-result #dot {
	flex-grow: 0;
	margin-top: auto;
	margin-bottom: auto;
	opacity: 0.5;
	border-radius: 100px;
	width: 25px;
	height: 25px;
	background-color: #596c84;
}

is-scenario-player-sentiment-analysis-result .segment {
	display: inline-block;
	height: 100%;	
}