﻿is-scenario-player-post-interview-swap-prompt .title {
	font-size: 1.5em;
	white-space: pre-line;
	text-align: center;
}

is-scenario-player-post-interview-swap-prompt .icon {
	background-image: url("../../../styles/robot_observe_icon.png");
	width: 75px;
	height: 67px;
}

is-scenario-player-post-interview-swap-prompt .error {
	font-size: 1.5em;
	color: red;
	font-weight: bold;
	margin: 20px auto 20px auto;
	white-space: pre-line;
	text-align: center;
}