is-scenario-player-title-box {
	position: relative;	
	display: block;
	max-width: 700px;
	max-height: 70px;
	min-width: 350px;
	min-height: 35px;
	width: 80%;		
}

is-scenario-player-title-box:before {	
	content: "";
	display: block;
	padding-top: 10%;
}

is-scenario-player-title-box #is-scenario-player-title-box-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

is-scenario-player-title-box #is-scenario-player-title-box-icon{
	background-image: url("interviewgame_logo.png");	
	background-position: center;
	background-size: contain;	
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}