﻿<div class="flex-fill-parent">

	<is-scenario-player-post-interview-box class="center-flex-container-child"
										   interview-round="$ctrl.interviewRound">

		<post-interview-box-icon class="icon"></post-interview-box-icon>

		<post-interview-box-content>

			<div ng-if="$ctrl.error"
				 class="result-container">

				<div class="error">{{$ctrl.error}}</div>

			</div>

			<div ng-if="!$ctrl.error"
				 class="flex-container">

				<div ng-if="!$ctrl.selectedAverage"
					 class="result-container">

					<div class="loading">{{$ctrl.loading}}</div>

				</div>

				<div class="select-container">

					<div ng-if="$ctrl.selectedAverage"
						 class="flex-row-center-items-container">

						<button class="raised primary previous"
								ng-click="$ctrl.previousAverage()"></button>

						<div class="result-container">

							<is-scenario-player-sentiment-analysis-result-summary-feedback feature="$ctrl.selectedAverage.feature"
																							weight="$ctrl.selectedAverage.result.weight"
																						   weight-from-ideal="$ctrl.selectedAverage.result.weightFromIdeal">
							</is-scenario-player-sentiment-analysis-result-summary-feedback>

						</div>

						<button class="raised primary next"
								ng-click="$ctrl.nextAverage()"></button>

					</div>

				</div>

			</div>

			<div class="info">{{$ctrl.info}}</div>

		</post-interview-box-content>

	</is-scenario-player-post-interview-box>

</div>