<is-scenario-player-message-box>

	<message-box-content class="flex-row-container">

		<div class="left">

			<div ng-if="$ctrl.icon !== 'timer-filling'"
				 class="icon"
				 ng-class="$ctrl.icon">
			</div>

			<is-scenario-player-timer ng-if="$ctrl.icon === 'timer-filling'"
									  length="$ctrl.length"
									  class="icon">
			</is-scenario-player-timer>

			<div class="title">{{$ctrl.title}}</div>

		</div>

		<div class="body">

			<div class="instruction">{{$ctrl.instruction}}</div>

			<div ng-show="$ctrl.state !== 'answered'" 
				 class="question">{{$ctrl.question}}</div>

		</div>

		<is-scenario-player-icon-button ng-class="$ctrl.button"
										type="$ctrl.button"
										on-click="$ctrl.submit()">
		</is-scenario-player-icon-button>

	</message-box-content>

</is-scenario-player-message-box>
