is-scenario-player-observational-question-feedback {
	position: relative;
	width: 736px;
	height: 167px;
	display: block;
}

is-scenario-player-observational-question-feedback submit-icon-box-icon {
	background-image: url("../../../styles/man_observe_icon.png");
	width: 75px;
	height: 67px;
}