﻿button.raised {
	border-style: hidden;
	min-height: 36px;
	min-width: 88px;
	margin: 6px 8px;
	border-radius: 2px;
	background-color: whitesmoke;
	color: darkslategray;
	font-size: 10pt;
}

button.raised[disabled] {
	background-color: lightgray;
	transition: background 1s ease-in-out;
}

button.raised:not([disabled]) {
	transition: background 1s ease-in-out;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

button.primary:not([disabled]) {
	background-color: #107c49;
}

button.secondary:not([disabled]) {
	background-color: #ffd3a7;
}

button.raised-text:not([disabled]) {
	transition: background 1s ease-in-out;
	text-shadow: 0 2px 5px rgba(0, 0, 0, .26);
}

ul.stars {
	list-style: none;
	margin-left: 0;
	text-indent: -1.4em;
}

ul.stars li:before {
	content: "\2605 \020 \020";
}