.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-fill-parent {
	width: 100%;
	height: 100%;
	display: flex;
}

.fill-parent {
    width: 100%;
    height: 100%;
}

.absolute-fill-parent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
}

.flex-row-center-items-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-column-center-items-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-item {
    flex-grow: 1;
}

.flex-column-container {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
}

.fill-absolute {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.left-absolute {
    position: absolute;
    left: 0;
}

.left-fill-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.right-fill-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.bottom-fill-absolute {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.top-fill-absolute {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.center-content {
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    text-align: center;
}

.horizontal-center-content {
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
}

.vertical-center-flex-container {
    display: flex;
    flex-direction: column;
	flex-grow: 1;
}

.center-flex-container-child {
    margin: auto;
}

.center-text {
    text-align: center;
}

.inline {
	display: inline-block;
}

.flex-row-even-spaced-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.flex-center-container {
	display: flex;
	justify-content: center;
	align-items: center;
}