body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: transparent;
	color: #596c84;
}

.website-background {
    background-color: lightgray;
    z-index: -3;
}

.app-container {
    width: 100%;
    height: 100%;
	flex: none;
}