<div class="flex-column-container">

	<is-scenario-player-title-box></is-scenario-player-title-box>

	<br />

	<br />

	<is-scenario-player-info-box class="login-page-container">

		<info-box-content>

			<div class="info-text"
				ng-bind-html="$ctrl.description"></div>
			
		</info-box-content>

	</is-scenario-player-info-box>

	<br />


	<br />

	<is-scenario-player-message-box class="login-page-container">

		<message-box-content>
			
			<div ng-if="!$ctrl.chrome.isChrome"
				class="error">
				You need to use the Google Chrome web browser.
			</div>

			<div ng-if="$ctrl.chrome.isChrome">

				<div ng-if="$ctrl.chrome.minVersion > $ctrl.chrome.currentVersion">
					Please update your version of Google Chrome. Installed version is {{$ctrl.chrome.currentVersion}} and a minimum version of {{$ctrl.chrome.minVersion}} is required.
				</div>

				<div ng-if="$ctrl.chrome.minVersion <= $ctrl.chrome.currentVersion">

					<web-cam-required ng-hide="$ctrl.isWebCamAvailable"
									on-available="$ctrl.onAvailable()"
									on-unavailable="$ctrl.onUnavailable(error)">
					</web-cam-required>

					<div ng-if="$ctrl.isWebCamAvailable"
						class="flex-column-center-items-container">

						<div ng-repeat="authenticationType in $ctrl.authenticationTypes"
							ng-switch="authenticationType">

							<div class="button-spacer"></div>

							<email-auth-sign-in ng-switch-when="email"
												on-signed-in="$ctrl.onLoggedIn(response)"></email-auth-sign-in>

							<google-auth-sign-in ng-switch-when="google"
												on-signed-in="$ctrl.onLoggedIn(response)"></google-auth-sign-in>

							<guest-auth-sign-in ng-switch-when="guest"
												on-signed-in="$ctrl.onLoggedIn(response)"></guest-auth-sign-in>

						</div>

						<div class="button-spacer"></div>

					</div>

				</div>

			</div>

		</message-box-content>

	</is-scenario-player-message-box>

	<br />

</div>

<br />

<footer>
	&copy; 2017
	<a href="http://playgen.com" target="_blank">PlayGen Ltd.</a> All Rights Reserved.
	<a href="http://interviewbetter.co.uk/privacy-terms/" target="_blank">Privacy Terms.</a>
	<a href="http://interviewbetter.co.uk/contact-us" target="_blank">Contact us.</a>
</footer>