﻿<div ng-show="$ctrl.current === null">

	No prompts to show

</div>

<div ng-hide="$ctrl.current === null">

	<div ng-switch="$ctrl.current.type">

		<is-scenario-player-observational-question-evaluation ng-switch-when="ObservationalQuestion"
															  question="$ctrl.current.question"
															  is-binary="$ctrl.current.isBinary"
															  is-inverse="$ctrl.current.isInverse"
															  start-label="$ctrl.current.startLabel"
															  end-label="$ctrl.current.endLabel"
															  on-submit="$ctrl.submit(rating)">
		</is-scenario-player-observational-question-evaluation>

		<is-scenario-player-observational-question-feedback ng-switch-when="ObservationalQuestionFeedback"
															feedback="$ctrl.current.feedback"
															on-submit="$ctrl.submit(result)">
		</is-scenario-player-observational-question-feedback>

		<is-scenario-player-feature-actionable-feedback ng-switch-when="FeatureActionableFeedback"
														feedback="$ctrl.current.feedback"
														on-submit="$ctrl.submit(result)">
		</is-scenario-player-feature-actionable-feedback>

		<div ng-switch-default>
			Unhandled type: {{$ctrl.current.type}}
		</div>

	</div>

</div>