﻿<div class="fill-absolute"
	 ng-show="$ctrl.isVisible">

	<div class="fill-absolute blocker"></div>
	
	<div class="flex-fill-parent">

		<is-scenario-player-info-panel>

			<info-panel-title>

				<h1>{{$ctrl.title}}</h1>

			</info-panel-title>

			<info-panel-content>

				<div class="message-dialog-body">{{$ctrl.body}}</div>

				<div class="message-dialog-button-container">

					<button ng-repeat="button in $ctrl.buttons"
							ng-click="$ctrl.hide(button)"
							class="raised wiggle">
						{{button}}
						<span ng-if="$ctrl.timeRemaining">({{$ctrl.timeRemaining}})</span>
					</button>

				</div>

			</info-panel-content>

		</is-scenario-player-info-panel>

	</div>

</div>