﻿message-dialog .blocker {
	background-color: gray;
	opacity: 0.5;
}

message-dialog is-scenario-player-info-panel {
	margin: auto;
}

	message-dialog is-scenario-player-info-panel info-box-content {
		width: 400px;
		height: 300px;
	}

	message-dialog is-scenario-player-info-panel info-panel-content {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

message-dialog .message-dialog-body {
	white-space: pre-line;
	margin-top: 20px;
	flex-grow: 1;
}

message-dialog .message-dialog-button-container {
	margin: 10px auto 10px auto;
}

	message-dialog .message-dialog-button-container .wiggle {
		animation: wiggle 1s step-end infinite;
		animation-delay: 5s;
		animation-timing-function: ease-in-out;
	}
