is-scenario-player-interview-question-respond {
    position: relative;
    width: 736px;
    height: 167px;
    display: block;
}

is-scenario-player-interview-question-respond message-box-content {
	height: 100%;
}

is-scenario-player-interview-question-respond .left {
	margin: auto 50px auto auto;
}

is-scenario-player-interview-question-respond .body {
	text-align: center;
	margin-right: auto;
}

is-scenario-player-interview-question-respond .icon {
	width: 75px;
	height: 67px;
	margin: 0 auto 10px auto;
}

is-scenario-player-interview-question-respond .icon.answer-question {
	background-image: url("answer_question_icon.png");
}

is-scenario-player-interview-question-respond .icon.timer-full {
	background-image: url("../../../styles/timer_full_icon.png");
}

is-scenario-player-interview-question-respond .title {
	font-weight: bold;
	font-size: 0.9em;
	text-align: center;
}

is-scenario-player-interview-question-respond .instruction {
	font-size: 0.9em;
	font-weight: bold;
	margin: 30px auto 20px auto;
}

is-scenario-player-interview-question-respond .question {
	font-size: 1.5em;
	color: black;
	margin: auto;
	max-width: 350px;
}