<md-list>
    <md-content>

        <md-list-item
                ng-repeat="job in $ctrl.jobs"
                ng-click="$ctrl.select(job)"
                ng-class="{selected: $ctrl.selected === job}">

            {{job.id}}

        </md-list-item>

    </md-content>

</md-list>