<div ng-repeat="featureResults in $ctrl.featuresResults">
    <h1>{{featureResults.feature}}</h1>

    <canvas class="chart chart-line" 
        chart-data="featureResults.values"
        chart-labels="featureResults.labels",
        chart-options="featureResults.options",
        chart-dataset-override="featureResults.override">
    </canvas>

</div>