﻿<div class="post-interview-icon" ng-transclude="icon"></div>

<is-scenario-player-info-box>

	<info-box-icon class="flex-row-center-items-container">

		<div class="title-icon"
			ng-class="$ctrl.style">
		</div>

		<div class="title-text">{{$ctrl.title}}</div>

	</info-box-icon>

	<info-box-title class="flex-row-center-items-container"
					ng-transclude="title">
	</info-box-title>

	<info-box-content>

		<div ng-transclude="content"
			class="flex-container">
		</div>


		<!--Buttons-->
		<div class="flex-row-even-spaced-container button-container">

			<div ng-repeat="option in $ctrl.options">

				<is-scenario-player-icon-button type="option"
												on-click="$ctrl.select(option)"
												is-disabled="$ctrl.getEnabled !== undefined && !$ctrl.getEnabled()">
				</is-scenario-player-icon-button>

				<div class="button-info">
					{{$ctrl.getButtonInfo(option)}}
				</div>

			</div>

		</div>

	</info-box-content>

</is-scenario-player-info-box>