<div class="fill-parent value-box"
	 style="border-color: {{$ctrl.color}}">	

	<div class="absolute-fill-parent flex-row-container">
		<div class="segment"
			style="width: {{$ctrl.minSegmentWidth}}%; background: linear-gradient(to left, {{$ctrl.colorRange}});">
		</div>
			
		<div class="segment"
			style="width: {{$ctrl.idealSegmentWidth}}%; background: {{$ctrl.idealColor}}">
		</div>

		<div class="segment"
			style="width: {{$ctrl.maxSegmentWidth}}%; background: linear-gradient(to right, {{$ctrl.colorRange}});">
		</div>
	</div>		

	<div id="label-container"
		class="absolute-fill-parent">		
		<div class="label-text">{{$ctrl.label}}</div>
	</div>
	
	 <div class="flex-row-container fill-parent">

		<div style="flex-grow: {{$ctrl.weight}}"></div>

		<div id="dot"></div>
		
	</div>
</div>