﻿<div class="flex-row-center-items-container">

	<is-scenario-player-sentiment-analysis-result feature="$ctrl.feature"
													weight="$ctrl.weight"
												  weight-from-ideal="$ctrl.weightFromIdeal">
	</is-scenario-player-sentiment-analysis-result>
	
	<div ng-hide="$ctrl.feedback"
		class="loading">{{$ctrl.loading}}</div>

	<div ng-show="$ctrl.feedback"
		 class="feedback">{{$ctrl.feedback}}</div>
	
</div>