<is-scenario-player-info-panel>

    <info-panel-icon class="icon"></info-panel-icon>

    <info-panel-title class="title">{{$ctrl.stateConfig.title}}</info-panel-title>

    <info-panel-content 
        ng-switch="$ctrl.state"
        class="flex-column-container center">        
        
        <div ng-switch-when="Error">
            
            <div id="error">{{$ctrl.error}}</div>
    
            <br/>
    
        </div>          
        
        <div ng-show="$ctrl.config.keepPreviousResults || $ctrl.state === 'Results'"
            ng-class="{'inactive-results' : $ctrl.state !== 'Results'}">

            <is-scenario-player-sentiment-analysis-result
                ng-repeat="result in $ctrl.displayResults"
                feature="result.feature",
                weight-from-ideal="result.weightFromIdeal"
                weight="result.weight">
            </is-scenario-player-sentiment-analysis-result>

        </div>

        <div ng-switch-when="Results">
            
            <br/>

            <div class="instruction center">{{$ctrl.stateConfig.instruction}}</div>

        </div>        

    </info-panel-content>

</is-scenario-player-info-panel>