loggedin-home-page web-cam-required {
	margin: auto;
	max-width: 600px;
}

loggedin-home-page .play-button-info {
	font-size: 0.7em;
}

loggedin-home-page is-scenario-player-title-box {	margin-top: 20px; }