<div class="center-horizontal">
	<div class="flex-column-center-items-container">

		<is-scenario-player-title-box></is-scenario-player-title-box>
		
		<br />

		<web-cam-required ng-hide="$ctrl.isWebCamAvailable"
						on-available="$ctrl.onAvailable()"
						on-unavailable="$ctrl.onUnavailable(error)">
		</web-cam-required>


		<button ng-disabled="!$ctrl.isWebCamAvailable"
				ng-click="$ctrl.playMulti()"
				class="raised">
			Play
		</button>
		<label class="play-button-info">Play with any other person.</label>
		
		<br/>

		<button ng-disabled="!$ctrl.isWebCamAvailable"
				ng-click="$ctrl.playMultiUnique()"
				class="raised">
			Play Unique
		</button>
		<label class="play-button-info">Play with a person you've never played with before.</label>
		
		<br />

		<button ng-disabled="!$ctrl.isWebCamAvailable"
				ng-click="$ctrl.playSolo()"
				class="raised">
			Play Solo
		</button>
		<label class="play-button-info">Play by yourself.</label>

		<br />

		<div ng-switch="$ctrl.authenticationType">

			<email-auth-sign-out ng-switch-when="email"
								on-signed-out="$ctrl.onLoggedOut()">
			</email-auth-sign-out>

			<google-auth-sign-out ng-switch-when="google"
								on-signed-out="$ctrl.onLoggedOut()">
			</google-auth-sign-out>

			<guest-auth-sign-out ng-switch-when="guest"
								on-signed-out="$ctrl.onLoggedOut()">
			</guest-auth-sign-out>

		</div>

	</div>

</div>