video-calling #subscribers {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
}

video-calling #publisher {
	position: absolute;
	bottom: 0;
	right: 0;
    z-index: -1;
}

video-calling .OT_publisher .OT_edge-bar-item.OT_edge-bottom.OT_mode-on,
video-calling .OT_publisher:hover .OT_edge-bar-item.OT_edge-bottom.OT_mode-auto,
video-calling .OT_subscriber .OT_edge-bar-item.OT_edge-bottom.OT_mode-on,
video-calling .OT_subscriber:hover .OT_edge-bar-item.OT_edge-bottom.OT_mode-auto {
	display: none !important;
}