<is-scenario-player-message-box>

	<message-box-content class="flex-row-container fill-parent">

		<div class="left-content flex-column-container">

			<div class="flex-item"></div>

			<div class="icon-container"
				 ng-transclude="icon">
			</div>

			<div class="title-container"
				 ng-transclude="title">
			</div>

			<div class="flex-item"></div>

		</div>

		<div class="flex-item flex-column-container">

			<div class="flex-item"></div>

			<div class="content-container"
				 ng-transclude="content">
			</div>

			<div class="flex-item"></div>

		</div>

	</message-box-content>

</is-scenario-player-message-box>
