<is-scenario-player-interviewer-candidate-appraisal options="$ctrl.appraisal1.options"
													interview-round="$ctrl.appraisal1.interviewRound"
													on-submit="$ctrl.onSubmit(option, appraisalResult)">
</is-scenario-player-interviewer-candidate-appraisal>

<is-scenario-player-interviewer-candidate-appraisal options="$ctrl.appraisal2.options"
													interview-round="$ctrl.appraisal2.interviewRound"
													on-submit="$ctrl.onSubmit(option, appraisalResult)">
</is-scenario-player-interviewer-candidate-appraisal>