is-scenario-player-interview-question {
    position: relative;
    width: 736px;
    height: 167px;
    display: block;
}

is-scenario-player-interview-question message-box-content {
	margin: 0 50px 0 50px;
	height: 100%;
}

is-scenario-player-interview-question .left {
	margin: auto 0 auto 0;
}

is-scenario-player-interview-question .body {
	text-align: center;
	margin: 0 auto 0 auto;
}

is-scenario-player-interview-question .icon {
	width: 75px;
	height: 67px;
	margin: 0 auto 10px auto;
}

is-scenario-player-interview-question .icon.ask-question {
	background-image: url("ask_question_icon.png");
}

is-scenario-player-interview-question .icon.timer-full {
	background-image: url("../../../styles/timer_full_icon.png");
}

is-scenario-player-interview-question .title {
	font-weight: bold;
	font-size: 0.9em;
	text-align: center;
}

is-scenario-player-interview-question .instruction {
	font-size: 0.9em;
	font-weight: bold;
	margin: 30px auto 20px auto;
}

is-scenario-player-interview-question .question {
	font-size: 1.5em;
	color: black;
	margin: auto;
	max-width: 350px;
}

is-scenario-player-interview-question is-scenario-player-icon-button {
	margin: auto 0 auto 0;
}

is-scenario-player-interview-question is-scenario-player-icon-button.asked {
	animation: wiggle 1s step-end infinite;
	animation-delay: 5s;
	animation-timing-function: ease-in-out;
}

is-scenario-player-interview-question is-scenario-player-icon-button.next {
	animation: wiggle 1s step-end infinite;
	animation-delay: 3s;
	animation-timing-function: ease-in-out;
}

@keyframes wiggle {
	10% {-webkit-transform: rotate(4deg);}
	20% {-webkit-transform: rotate(-4deg);}
	35% {-webkit-transform: rotate(6deg);}
	50% {-webkit-transform: rotate(-6deg);}
	75% {-webkit-transform: rotate(0deg);}
}