<div class="flex-row-container">

	<div class="flex-column-container">

		<is-scenario-player-title-box><title-box-icon></title-box-icon></is-scenario-player-title-box>
 
		<br />

		<is-scenario-player-feature-actionable-feedback feedback="$ctrl.featureActionableFeedback.feedback"
														on-submit="$ctrl.featureActionableFeedback.onSubmit()">
		</is-scenario-player-feature-actionable-feedback>

		<br />

		<is-scenario-player-observational-question-feedback feedback="$ctrl.observationalQuestionFeedback.feedback"
															on-submit="$ctrl.observationalQuestionFeedback.onSubmit()">
		</is-scenario-player-observational-question-feedback>

		<div ng-repeat="observationalQuestion in $ctrl.observationalQuestions">

			<br />

			<is-scenario-player-observational-question-evaluation question="observationalQuestion.question"
																  start-label="observationalQuestion.startLabel"
																  end-label="observationalQuestion.endLabel"
																  is-binary="observationalQuestion.isBinary"
																  is-inverse="observationalQuestion.isInverse"
																  ratings="observationalQuestion.ratings"
																  on-submit="observationalQuestion.onSubmit(rating)">
			</is-scenario-player-observational-question-evaluation>


		</div>

	</div>

	<br />

	<div class="flex-column-container">

		<is-scenario-player-briefing-box title="$ctrl.briefingBox.title"
										 body="$ctrl.briefingBox.body">
		</is-scenario-player-briefing-box>

		<br />

		<is-scenario-player-sentiment-analysis-results 
			ng-repeat="analysisMetadata in $ctrl.analysisMetadatas"
			analysis="analysisMetadata">
		</is-scenario-player-sentiment-analysis-results>	

	</div>

	<br />

	<div class="flex-column-container">
			<is-scenario-player-sentiment-analysis-result ng-repeat="featureResult in $ctrl.featureResults"
													  weight="featureResult.weight",
													  weight-from-ideal="featureResult.weightFromIdeal"
													  feature="featureResult.feature">
			</is-scenario-player-sentiment-analysis-result>
	</div>

</div>