is-scenario-player-message-box {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("background.png");
}

is-scenario-player-message-box .is-scenario-player-message-box-corner {
	position: absolute;	
	display: block;
	max-width: 50px;
	max-height: 50px;
	min-width: 25px;
	min-height: 25px;
	width: 9%;		
}

is-scenario-player-message-box .is-scenario-player-message-box-corner:before {	
	content: "";
	display: block;
	padding-top: 100%;
}

is-scenario-player-message-box #is-scenario-player-message-box-corner-top-right {    
    top: 0;
    right: 0;
}

is-scenario-player-message-box #is-scenario-player-message-box-corner-top-left {    
    top: 0;
    left: 0;
}

is-scenario-player-message-box #is-scenario-player-message-box-corner-bottom-right {
    bottom: 0;
    right: 0;
}

is-scenario-player-message-box #is-scenario-player-message-box-corner-bottom-left {
    bottom: 0;
    left: 0;
}

is-scenario-player-message-box .is-scenario-player-message-box-corner-image { 
    background-size: 100%;    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
}

is-scenario-player-message-box #is-scenario-player-message-box-corner-top-right-image { background-image: url("topright.png"); }
is-scenario-player-message-box #is-scenario-player-message-box-corner-top-left-image { background-image: url("topleft.png"); }
is-scenario-player-message-box #is-scenario-player-message-box-corner-bottom-right-image { background-image: url("bottomright.png"); } 
is-scenario-player-message-box #is-scenario-player-message-box-corner-bottom-left-image { background-image: url("bottomleft.png"); }

is-scenario-player-message-box #is-scenario-player-message-box-content {
    width: 100%;
    height: 100%;
}