is-scenario-player-info-box .inner {
	position: relative;
	display: block;
	background-color: #f1f1f1;
	border-color: #8291a3;
	border-width: 15px;
	border-style: solid;
}

is-scenario-player-info-box info-box-title {
    flex-grow: 1;
    margin: 10px 0 10px 0;
	display: block;
}

is-scenario-player-info-box info-box-icon {
	flex-grow: 1;
	display: block;
}

is-scenario-player-info-box info-box-content {
	flex-grow: 1;
	display: block;
}