<div ng-transclude="content" id="is-scenario-player-message-box-content"></div>

<div id="is-scenario-player-message-box-corner-top-left" 
    class="is-scenario-player-message-box-corner">

    <div id="is-scenario-player-message-box-corner-top-left-image" 
        class="is-scenario-player-message-box-corner-image">
    </div>

</div>

<div id="is-scenario-player-message-box-corner-top-right" 
    class="is-scenario-player-message-box-corner">
    
    <div id="is-scenario-player-message-box-corner-top-right-image" 
        class="is-scenario-player-message-box-corner-image">
    </div>

</div>

<div id="is-scenario-player-message-box-corner-bottom-left" 
    class="is-scenario-player-message-box-corner">

    <div id="is-scenario-player-message-box-corner-bottom-left-image" 
        class="is-scenario-player-message-box-corner-image"></div>

</div>

<div id="is-scenario-player-message-box-corner-bottom-right" 
    class="is-scenario-player-message-box-corner">

    <div id="is-scenario-player-message-box-corner-bottom-right-image" 
        class="is-scenario-player-message-box-corner-image">
    </div>

</div>