<is-scenario-player-submit-icon-box on-submit="$ctrl.onSubmit()">

	<submit-icon-box-icon></submit-icon-box-icon>

	<submit-icon-box-content>

		<div>{{$ctrl.feedback}}</div>

	</submit-icon-box-content>

</is-scenario-player-submit-icon-box>