﻿is-scenario-player-icon-button .button-text {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	min-width: 100px;
	color: white;
	margin: 10px;
}

is-scenario-player-icon-button .button-icon {
	background-size: 100%;
	width: 48px;
	height: 48px;
	margin: auto;
}

is-scenario-player-icon-button .button-icon.logout { background-image: url("logout_icon.png"); }
is-scenario-player-icon-button .button-icon.swap { background-image: url("swap_icon.png"); }
is-scenario-player-icon-button .button-icon.results { background-image: url("results_icon.png"); }
is-scenario-player-icon-button .button-icon.new-game { background-image: url("newmatch_icon.png"); }
is-scenario-player-icon-button .button-icon.tick { background-image: url("../../../styles/tick_icon.png"); }