﻿<div ng-if="!$ctrl.hasMatch">

	<div class="loading-game">Loading solo game...</div>

	<md-progress-circular md-diameter="50"
						  class="progress-spinner"></md-progress-circular>

</div>

<is-scenario-player-container ng-if="$ctrl.hasMatch"
							  is-synchronised="false"
							  on-scenario-player-stopped="$ctrl.onScenarioPlayerStopped"
							  new-game="$ctrl.newGame"></is-scenario-player-container>